body {
	background-color: rgb(20, 44, 59);
	font-family: Helvetica, Arial, sans-serif;

	
}

a {
	text-decoration: none;
	color: black;
	padding: 20px;
}
	
h1 {
	margin: 0;
}

h2, h3 {
	margin: 0;
	color: rgb(16, 109, 55);
}

#container {
	background-color: white;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: rgb(33, 65, 78);
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width: 180px;
	float: left;
}

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 10px;
}

#main {
	width: 800px;
	float: right;
}

#footer {
	clear: both;
	background-color: #6f976f;
	color: white;
	text-align: center;
}

a:link {
  	color: green;
  	background-color: transparent;
  	text-decoration: none;
}

a:visited {
  	color: purple;
  	background-color: transparent;
  	text-decoration: none;
}

a:hover {
  	color: navy;
  	background-color: transparent;
  	text-decoration: underline;
}

a:active {
  	color: green;
  	background-color: transparent;
  	text-decoration: underline;
}